nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    padding: 2rem;
    font-family: 'VT323', monospace;
    font-size: 26px;

    a {
        color: rgb(131, 36, 255);
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: rgb(170, 104, 255);
}

.current {
    font-weight: bolder;
    border-bottom: 2px solid;
}
}


#footer {
position: fixed;
bottom: 0;
right: 0;
margin: .5rem;
}