#editprofile, #editaccount {
  
    label.user-details, input, select {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 1rem;
        margin-top: 1rem;
        }
    
    label.user-details {
        margin-bottom: 4px;
    }

    input::placeholder {
        color: gray;
    }

    select {
        color: gray;
        padding-right: 6rem;
    }

    input:focus {
        background-color: rgb(240, 223, 255);
        }

    input, select {
        background: $app-background;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 14px;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        display: block;
        width: 13%;
        border: none;
        outline: none;
        box-sizing: border-box;
        margin-top: 20px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
        transition: 0.5s;
    }

    button:hover {
        box-shadow: none;
    }
    
}

