// Imports / Variables
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
// font-family: 'Barlow Semi Condensed', sans-serif;
// font-family: 'IBM Plex Mono', monospace;
// font-family: 'VT323', monospace;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables';

// Pages
@import './pages/Home/home';
@import './pages/LandingPage/landingpage';
@import './pages/JobbaHut/jobbahut';
@import './pages/EditProfile/editprofile';
@import './pages/Search/Search';

// Components
@import './components/Profile/profile';
@import './components/SearchBar/SearchBar';
@import './components/UpdateAccForm/updateaccform';

// Layout
@import './layout/layout';

:root {
    overflow-x: hidden;
}

body {
    background-color: $app-background;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;

    #not-found {
        display: flex;
        margin: 3rem;
        flex-direction: column;
        align-items: center;
    }
}

button {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    font-size: 18px;
    }

button:hover {
    box-shadow: none;
    }

h1, button {
    font-family: 'VT323', monospace;
}

