#jobbahut {

    // .first-row-container {
    //     display: flex;
    //     align-items: center;
    // }

    #daily-reward, #trophy-collection, #reward1 {
        background-color: white;
        display: inline-block;
        padding: 1.5rem;
        border-radius: 10px;
        border: dashed 4px rgb(250, 177, 43);
        margin: 1rem;
        min-height: 220px;
        max-height: 220px;
    }

    #daily-reward {
        max-width: 250px;
    }
    
    button {
        background: rgb(250, 177, 43);
    }
}
