#jobbahut {
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #daily-reward, #trophy-collection, .reward {
        background-color: white;
        display: inline-block;
        padding: 1.5rem;
        border-radius: 10px;
        border: dashed 4px rgb(250, 177, 43);
        margin: 1rem;
        width: 30%;
        min-height: 180px;
        max-height: 180px;
    }

    #daily-reward {
        max-width: 250px;
    }
    
    button {
        background: rgb(250, 177, 43);
    }
}
